#vvv{
    font-size: 14px;
    padding-left: 45px;
    font-family: 'Montserrat', sans-serif;
}

#bb{
    font-family: 'Montserrat', sans-serif;
}

ion-title{
    font-family: 'Montserrat', sans-serif;
}